/* ---------------GENERAL RULES---------------- */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,700&family=Work+Sans:wght@300;400;500&display=swap');

:root {
  --primary-color: #01B637;
  --secondary-color: #B8F1B0 ;
  --accent1-color: #E3FCBF;
  --accent2-color: #343a40;

  --nav-link-color: #fff;

  --heading-font: 'Merriweather', serif;
  --paragraph-font: 'Work Sans', sans-serif;
}


/* ---------general rules------- */
* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth; /* move scroll lightly */
}


body {
    display: flex;
    flex-direction: column;
    gap: 3rem; 
    background-color: var(--accent1-color);
}



main {
    background-color: var(--accent1-color);
}


header, 
footer {
    background-color: var(--primary-color);
}

header {
    box-shadow: 2px 2px 5px var(--accent2-color);
}


a {
    text-decoration: none;
    color: var(--nav-link-color);
}


/* header y footer */

header,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    flex-wrap: wrap;   
}


header .icon,
footer .icon {
    margin: 0.5rem;
}

header .icon a img,
footer .icon a img {
    display: block;
    width: 75%;
}

header .icon a img:hover,
footer .icon a img:hover {
    width: 76%;
    transition: ease-out .2s;
}

header nav,
footer nav {
    display: flex;
    margin-left: 14rem;
}

header nav a,
footer nav a {
    padding: 2rem;

    font-size: 1.6rem;
    font-style: var(--paragraph-font);

    transition: all ease-in .2s;

    /* this is used, because we don't want to change the box size when hover */
    line-height: 1.7rem;  

    text-align: center;
}

header nav a:hover,
footer nav a:hover {
    font-size: 1.7rem;
    color: var(--accent1-color);
}



/* component used for header */

header {
    position: fixed; /* Make it stick/fixed */
    top: -400px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}


/* ------------------------HEADER---------------------- */

header .gallery-button a {
    margin-right: 0.5rem;
    padding: 0.4rem;
    border-radius: 0.4rem;
    border: none;
    color: var(--accent2-color);
    background-color: var(--secondary-color);
 
    font-size: 1rem;
}

header .gallery-button a:hover {
    background-color: var(--accent2-color);
    color: var(--nav-link-color);
    transition: all .2s;
}



/*--------- ------------- MAIN ---------  -----------------*/
main,
main .food {
    margin: 2rem;
}



main #title-container {
    display: flex;
    gap: 2rem;
}

#title-container .image-one {
  width: 25%;
  margin: 1rem;
}

#title-container .image-one img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 12px;
}

main #title-container h1 {
    font-size: 4rem;
    color: var(--accent2-color);
    line-height: 100%;
    font-family: var(--heading-font);
    text-align: center;
    margin: 1rem ;
    margin-top: 15%;

}


main .food {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

main .food .stat {
    display: flex;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .food p {
    color: var(--nav-link-color);
    font-family: var(--paragraph-font);
    font-size: 1rem;
    background-color: var(--primary-color) ;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 5px 5px 10px var(--accent2-color);
}

main .food img {
    border-radius: 12px;
}


main .image-two {
    margin: 0.3rem;
}

main .image-two img {
    display: block;
    margin: 0.3rem auto;
    width: 60%;

    border-radius: 30px;
}




/* -----------------FOOTER -------------- */


footer {
    box-shadow: 0px 4px 5px 6px var(--accent2-color);
}

footer .social {
    margin: auto;
}

footer .social a img {
    border-radius: 10px;
    margin-inline: 0.5rem;
}

.social a:nth-child(1):hover,
.social a:nth-child(2):hover,
.social a:nth-child(3):hover{
    background-color: transparent; 
    opacity: 0.80;
}

footer p {
    color: var(--nav-link-color);
    font-size: 0.9rem;
    padding: 0.5rem;
}


/* ----------MEDIA QUERIES---------- */

@media screen and (max-width: 1100px) { 

    /* ----body general rule--- */
    body {
        display: flex;
        flex-direction: column;
    }

    /* ---header--- */
    header,
    footer {
        flex-direction: column;
    }

    header .icon a img,
    footer .icon a img {
        display: none;
    }

    header nav,
    footer nav {
        margin: 0 0 0.8rem 0;
    }

    header nav a,
    footer nav a {
        padding: 0.4rem;
        font-size: 1.2rem;
        line-height: 1.4rem;  
    }

    header nav a:hover,
    footer nav a:hover {
        font-size: 1.4rem;
    }

    header .gallery-button a {
        display: block;
        margin: 0.4rem;
    }


    #title-container .image-one img {
        display: block;
        width: 70%;
        height: 70%;
        margin: 0 auto;
    }

    main #title-container h1 {
        font-size: 2rem;
    }

    main #title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }
    
    #title-container .image-one {
      width: 100%;
      margin: 0.5rem;
    }


    main .image-two img,
    main .food img {
        display: block;
        width: 88%;
        height: 88%;
        margin: 0 auto;
    }

    main .food {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    main .food p {
        font-size: 0.9rem;
    }

    main .food .stat {
        order: 2;
    }
    

    main #title-container h1 {
        font-size: 1.5rem;
        position: absolute;
        top: -2rem;
        left:18%;
        right: 18%;
        text-align: center;
    
    }



    /* --footer-- */

    footer .social a img {
        width: 20%;
        margin-left: 1.3rem;
    }
}

/* ------------mobile devices-------- */
@media screen and (max-width: 550px) {

    header nav,
    footer nav {
        flex-direction: column;
        margin-bottom: 0.8rem;
    }

    main #title-container h1 {
        font-size: 1.5rem;
        position: absolute;
        top: -1.75rem;
        left:18%;
        right: 18%;
        text-align: center;
    
    }

    main .food p {
        width: 18rem ;
    }


}
