/* ---------------GENERAL RULES---------------- */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,700&family=Work+Sans:wght@300;400;500&display=swap');

:root {
  --primary-color: #01B637;
  --secondary-color: #B8F1B0 ;
  --accent1-color: #E3FCBF;
  --accent2-color: #343a40;

  --nav-link-color: #fff;

  --heading-font: 'Merriweather', serif;
  --paragraph-font: 'Work Sans', sans-serif;
}



/* ---------general rules------- */
* {
    box-sizing: border-box;
    margin: 0;
}


body {
    display: flex;
    flex-direction: column;
    gap: 3rem; 
    background-color: var(--accent1-color);
}



main {
    background-color: var(--accent1-color);
}


header, 
footer {
    background-color: var(--primary-color);
}

header {
    box-shadow: 2px 2px 5px var(--accent2-color);
}


a {
    text-decoration: none;
    color: var(--nav-link-color);
}


/* header y footer */

header,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    flex-wrap: wrap;   
}


header .icon,
footer .icon {
    margin: 0.5rem;
}

header .icon a img,
footer .icon a img {
    display: block;
    width: 75%;
}

header .icon a img:hover,
footer .icon a img:hover {
    width: 76%;
    transition: ease-out .2s;
}

header nav,
footer nav {
    display: flex;
    margin-left: 14rem;
}

header nav a,
footer nav a {
    padding: 2rem;

    font-size: 1.6rem;
    font-style: var(--paragraph-font);

    transition: all ease-in .2s;

    /* this is used, because we don't want to change the box size when hover */
    line-height: 1.7rem;  

    text-align: center;
}

header nav a:hover,
footer nav a:hover {
    font-size: 1.7rem;
    color: var(--accent1-color);
}


/* ------------------------HEADER---------------------- */

header .gallery-button a {
    margin-right: 0.5rem;
    padding: 0.4rem;
    border-radius: 0.4rem;
    border: none;
    color: var(--accent2-color);
    background-color: var(--secondary-color);
 
    font-size: 1rem;
}

header .gallery-button a:hover {
    background-color: var(--accent2-color);
    color: var(--nav-link-color);
    transition: all .2s;
}

/* header .gallery-button button a {
   
    padding: 0.3rem;
}

header .gallery-button button a:hover {

} */


/*--------- ------------- MAIN ---------  -----------------*/

main {
    margin-inline: 0.5rem;
}

/* title container */
main #title-container {
   margin: 0.4rem;
   padding: 0.4rem;
   display: flex;
   justify-content: space-between;
   gap: 2rem;
   z-index: 1;
}

main #title-container .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    gap: 1.5rem;
    max-width: 65%;
}

main #title-container .text-box h3 {
    font-size: 1.2rem;
    color: var(--primary-color);
    font-family: var(--heading-font);
    text-align: left;
    text-transform: uppercase;

}
main #title-container .text-box h1 {
    font-size: 5rem;
    color: var(--accent2-color);
    line-height: 100%;
    font-family: var(--heading-font);
    text-align: center;

}

main #title-container .text-box p {
    font-size: 1.1rem;
    font-family: var(--paragraph-font);
    text-align: left;
    padding: 1.5rem;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    border-radius: 30px 4px 30px 4px;
}


#title-container .image-one img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 12px;
}

/* --status section-- */

main #status {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    gap: 2rem;
    z-index: -1;
    background-color: var(--secondary-color);
    border-radius: 4px;
    margin-top: -3.2rem;
    padding-top: 4rem;
}


main #status .stat {
    padding: 1rem;
    background-color: var(--secondary-color);
  
    margin-top: 5rem;
    margin-bottom: 10rem;
    text-align: center;
}


main #status .stat h4 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    font-size: 2rem;
    line-height: 100%;
    padding: 1rem;
    
}

main #status .stat p {
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
    font-size: 1rem;
    line-height: 100%;
}

main #status .stat hr {
    border-bottom: 1px solid var(--primary-color);
    margin-top: 0.8rem;
    max-width: 35%;
    margin-inline: auto;
}


/* ---main gallery-- */
main #gallery-area {
    margin: 1rem;
    background-color: var(--accent2-color);
    border-radius: 10px;
    margin: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;

    box-shadow: 2px 2px 5px var(--accent2-color);
}

main  #gallery-area #gallery {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    max-width: 65%;
    margin-block: 1.5rem;
}

main #gallery-area #gallery .img-gallery {
    max-width: 30%;
    max-height: 30%;
}

main #gallery-area #gallery .img-gallery img {
    border-radius: 5px;
    width: 100%;
    height: 100%;

    transition: transform .3s ease-in-out;
    box-shadow: 2px 2px 5px var(--accent1-color);
}

main #gallery-area #gallery .img-gallery img:hover {
    opacity: .9;
    transform: rotate(-2deg) scale(1.09);
}

main #gallery-area .p-quote {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    margin: 2rem 1rem 1rem ;
}

main #gallery-area .p-quote q,
main #gallery-area .p-quote address {
    font-style: var(--paragraph-font);
    text-align: center;
    max-width: 80%;
    font-size: 1.1rem;
    line-height: 110%;
    word-spacing: 1px;
    color: var(--nav-link-color);    
}

main #gallery-area .p-quote .img-two img {
    display: block;
    margin: auto auto 0 auto;
    width: 60%;
    height: 60%;
    border-radius: 12px;
}


/* -----------------FOOTER -------------- */


footer {
    box-shadow: 0px 4px 5px 6px var(--accent2-color);
}

footer .social {
    margin: auto;
}

footer .social a img {
    border-radius: 10px;
    margin-inline: 0.5rem;
}

.social a:nth-child(1):hover,
.social a:nth-child(2):hover,
.social a:nth-child(3):hover{
    background-color: transparent; 
    opacity: 0.80;
}


/* ----------MEDIA QUERIES---------- */

@media screen and (max-width: 1100px) { 

    /* ----body general rule--- */
    body {
        display: flex;
        flex-direction: column;
    }

    /* ---header--- */
    header,
    footer {
        flex-direction: column;
    }

    header .icon a img,
    footer .icon a img {
        display: none;
    }

    header nav,
    footer nav {
        margin: 0 0 0.8rem 0;
    }

    header nav a,
    footer nav a {
        padding: 0.4rem;
        font-size: 1.4rem;
        line-height: 1.4rem;  
    }

    header nav a:hover,
    footer nav a:hover {
        font-size: 1.4rem;
    }

    header .gallery-button a {
        display: block;
        margin: 0.4rem;
    }

    /* title-container */
    main #title-container {
        flex-direction: column;
    }

    main #title-container .text-box {
        text-align: center;
        justify-content: center;
        max-width: 100%;
    }

    main #title-container .text-box h3 {
        font-size: 1.1rem;   
    }
    main #title-container .text-box h1 {
        font-size: 3.8rem;
    
    }
    
    main #title-container .text-box p {
        font-size: 1rem;
    }
    
    
    #title-container .image-one img {
        display: block;
        width: 70%;
        height: 70%;
        margin: 0 auto;
    }

    /* ---main status-- */
    main #status {
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        gap: 2rem;
        z-index: -1;
        background-color: var(--secondary-color);
        border-radius: 4px;
        margin-top: -3.2rem;
        padding-top: 4rem;
    }

    main #status .stat {
        margin-top: 0;
        margin-bottom: 1rem;
        max-width: 70%;
    }

    main #status .stat p {
        font-size: 1rem;
        
    }

    /* ---gallery--- */

    main #gallery-area,
    main #gallery-area #gallery {
        flex-direction: column;
    }

    main #gallery-area .p-quote q,
    main #gallery-area .p-quote address {
    font-size: 1rem;
    }

    main #gallery-area #gallery .img-gallery {
        max-width: 100%;
        max-height: 100%;
    }

    main #gallery-area #gallery .img-gallery img:hover {       
        transform: rotate(0) scale(1);
    }
 
    /* --footer-- */

    footer .social a img {
        width: 20%;
        margin-left: 1.3rem;
    }
}

/* ------------mobile devices-------- */
@media screen and (max-width: 550px) {
    header nav,
    footer nav {
        flex-direction: column;
        margin-bottom: 0.8rem;
    }
}
