@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,900;1,700&family=Work+Sans:wght@300;400;500&display=swap');

:root {
  --primary-color: #01B637;
  --secondary-color: #B8F1B0 ;
  --accent1-color: #E3FCBF;
  --accent2-color: #343a40;

  --heading-font: 'Merriweather', serif;
  --paragraph-font: 'Work Sans', sans-serif;
}

/* general GRID */

body {
    display: grid;
    grid: area;
}